.errors {
	
}

.errors > span {
	font-size: 24px;
	opacity: 0.75;
}

.errors-code {
	font-size: 200px;
	line-height: 200px;
	letter-spacing: -8px;
	color: #2C3E50;
	font-weight: 600;

	padding-right: 8px;
	text-align: center;

}

.errors-body {
	font-size: 22px;
	margin-bottom: 24px;
}