.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline.focus,
.btn-outline:active,
.btn-outline.active,
.open > .dropdown-toggle.btn-outline {
  color: #ffffff;
  background-color: #ec1745;
  border-color: #ec1745;
}
.btn-outline:active,
.btn-outline.active,
.open > .dropdown-toggle.btn-outline {
  background-image: none;
}
.btn-outline.disabled,
.btn-outline[disabled],
fieldset[disabled] .btn-outline,
.btn-outline.disabled:hover,
.btn-outline[disabled]:hover,
fieldset[disabled] .btn-outline:hover,
.btn-outline.disabled:focus,
.btn-outline[disabled]:focus,
fieldset[disabled] .btn-outline:focus,
.btn-outline.disabled.focus,
.btn-outline[disabled].focus,
fieldset[disabled] .btn-outline.focus,
.btn-outline.disabled:active,
.btn-outline[disabled]:active,
fieldset[disabled] .btn-outline:active,
.btn-outline.disabled.active,
.btn-outline[disabled].active,
fieldset[disabled] .btn-outline.active {
  background-color: #ec1745;
  border-color: #ec1745;
}
.btn-outline .badge {
  color: #ec1745;
  background-color: #ffffff;
}
.navbar-help {
  height: 70px;
}
.bkv2 .navbar {
  border-bottom: 1px solid #273646;
}
.bkv2 .navbar-brand {
  position: relative;
  overflow: hidden;
}
.bkv2 .navbar-brand:before {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 100%;
  background-image: -webkit-linear-gradient(left, transparent 0%, #000000 100%);
  background-image: -o-linear-gradient(left, transparent 0%, #000000 100%);
  background-image: linear-gradient(to right, transparent 0%, #000000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=1);
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.bkv2 .nav.navbar-nav > li > a {
  padding: 24px 20px;
}
.bkv2 .nav.navbar-nav > li > a.fancy-nav {
  padding-top: 20px;
  padding-bottom: 12px;
  font-size: 12px;
}
.bkv2 .nav.navbar-nav > li > a.fancy-nav > span {
  font-size: 18px;
  display: block;
  line-height: 16px;
}
.bkv2 .header {
  height: 470px;
  margin-bottom: 20px;
}
.bkv2 .header-imagery {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #2d3e50;
}
.bkv2 .header-imagery:before,
.bkv2 .header-imagery:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
}
.bkv2 .header-imagery:before {
  background: transparent url(/assets/assets/img/header/header-mask-left.png) no-repeat;
  left: 0;
  width: 244px;
}
.bkv2 .header-imagery:after {
  background: transparent url(/assets/assets/img/header/header-mask-right.png) no-repeat;
  left: 40%;
  width: 561px;
}
.bkv2 .header-imagery > img {
  height: 470px;
}
.bkv2 .header-text {
  color: #fff;
  margin-top: 130px;
  text-align: right;
}
.bkv2 .header-text > h1 {
  font-size: 58px;
}
.bkv2 .header-text > span {
  font-size: 22px;
}
.bkv2 .header-buttons {
  margin-top: 20px;
}
.bkv2 .header-buttons > span {
  display: inline-block;
  width: 75px;
  vertical-align: top;
}
.card {
  padding-left: 8px;
  padding-right: 8px;
}
.card-inner {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.card-head {
  position: relative;
}
.card-cover {
  height: 222px;
  position: relative;
  background-size: cover !important;
  display: block;
}
.card-author {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-author:hover,
.card-author:active,
.card-author:hover > .author-name,
.card-author:active > .author-name {
  color: #ec1745;
  text-decoration: none;
}
.author-pic {
  background-color: #fff;
  padding: 2px 2px 0 0;
  border-top-right-radius: 4px;
  border: 1px solid transparent;
  border-color: #ccc #ccc transparent transparent;
  height: 52px;
  width: 52px;
  margin-top: -1px;
}
.author-name {
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
  vertical-align: middle;
  padding: 0 6px;
  color: #fff;
  -webkit-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
}
.card-body {
  padding: 4px;
  color: #666;
  line-height: 22px;
}
.card-body > .card-title {
  font-size: 18px;
  font-weight: bold;
  color: #2d3e50;
  display: inline-block;
  margin: 8px 0 10px;
  line-height: 22px;
  -webkit-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
}
.card-body > .card-title:hover,
.card-body > .card-title:active {
  color: #ec1745;
  text-decoration: none;
}
.card-stats {
  background-color: #fbfbfb;
  border: 1px solid #eee;
  padding: 6px;
  border-radius: 3px;
  margin: 0 -2px 8px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.02);
}
.card-footer {
  border-top: 1px solid #ddd;
  padding: 6px 10px 0;
  color: #999;
  margin-right: -6px;
  margin-left: -6px;
}
.card-stats-text {
  float: left;
  width: 85%;
}
.card-stats-symbol {
  float: left;
  width: 15%;
  color: #2d3e50;
}
.card-stats-symbol > span {
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
}
.card-stats-hilite,
.card-stats-lolite {
  margin: 0;
  line-height: 16px;
}
.card-stats-hilite {
  font-weight: bold;
  color: #2d3e50;
  font-size: 12px;
}
.card-stats-hilite > strong {
  font-size: 16px;
}
.card-stats-hilite > strong > span {
  font-size: 10px;
}
.card-stats-lolite {
  color: #999;
  font-size: 12px;
}
.card-stats-lolite span {
  font-size: 10px;
}
.showbar {
  margin: 40px -8px 0;
}
.showbar .card {
  width: 25%;
  float: left;
}
.showbar-pagination {
  margin: 20px 8px;
  border-top: 1px solid #ddd;
}
.showbar-pagination-buttons > a {
  display: block;
  float: left;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 14px;
  margin: -1px;
}
.errors > span {
  font-size: 24px;
  opacity: 0.75;
}
.errors-code {
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -8px;
  color: #2C3E50;
  font-weight: 600;
  padding-right: 8px;
  text-align: center;
}
.errors-body {
  font-size: 22px;
  margin-bottom: 24px;
}
